*{
    text-align: center;
}

body{
    background: #5d576b;
    color: white;
}

header{
    margin: 0 auto;
    text-align: center;
    background: #31244e;
    padding: 1%;
    box-shadow: #413F54 0px 5px 0px;
}

.images{
    text-align: center;
}

img{
    height: 200px;
    width: 200px;
    border: 5px solid #413F54;
    border-radius: 10px 10px 10px;
}

img:hover{
    border: 5px solid red;
    background: black;
}

/* img:active{
    height: 150px;
    width: 150px;
} */

.table_title{
    background: #31244e;
    
}

table{
    margin: 4% auto;
    border: 5px solid #363636;
    font-size: 20px;
    border-radius: 10px 10px 10px;
}
td{
    padding: 20px;
    width: 100px;
    border-radius: 10px 10px 10px;
}